<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Beiträge</title>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog von Fabian und Franz
            </h1>
        </div>
    </div>
</section>
<section class="section" th:if="${sessionNutzer != null}">
    <div class="container" th:if="${sessionNutzer.isAdmin()}">
        <form th:object="${beitragDTO}" method="POST" th:action="@{/beitragErstellen}">

            <input type="text" required th:placeholder="${'Deine Überschrift, ' + sessionNutzer.name}"
                   th:field="*{ueberschrift}"><br/>
            <p th:if="${#fields.hasErrors('ueberschrift')}" th:errors="*{ueberschrift}"></p>

            <textarea rows="3" cols="40" minlength="3" required
                      th:placeholder="${'Schreibe einen Beitrag, ' + sessionNutzer.name}" th:field="*{text}"></textarea>
            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
            <button type="submit">Verfassen</button>
        </form>
    </div>
</section>


<section th:each="beitrag: ${beitraege}">
    <section>
        <div class="container">
            <article class="message">
                <div class="message-header">
                    <strong th:text="${beitrag.getUeberschrift()}"></strong>
                </div>
                <div class="message-body">
                    <span th:text="${beitrag.getText()}"></span>
                </div>
                <div th:if="${sessionNutzer != null}">
                    <div class="level-right" th:if="${sessionNutzer.isAdmin()}">
                        <div class="level-item">
                            <form method="POST"
                                  th:action="@{/beitragBearbeiten/{beitragId}(beitragId=${beitrag.getId()})}">
                                <button type="submit">Beitrag bearbeiten</button>
                            </form>
                        </div>
                        <div class="level-item">
                            <form method="POST" th:action="@{/beitragLoeschen/{beitragId}(beitragId=${beitrag.id})}">
                                <button type="submit">Beitrag löschen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section>
        <div class="container" th:each="kommentar: ${beitrag.getKommentare()}">
            <div class="box">
                <span th:text="${kommentar.getNutzer().getName()}"></span>:
                <span th:text="${kommentar.getText()}"></span>

                <div th:if="${sessionNutzer != null}" class="level-right">
                    <div class="level-item">
                        <form th:if="${sessionNutzer.getId() == kommentar.getNutzer().getId() || sessionNutzer.isAdmin()}"
                              method="POST"
                              th:action="@{/kommentarLoeschen/{kommentarId}(kommentarId=${kommentar.id})}">
                            <button type="submit">Löschen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form th:if="${sessionNutzer != null}" th:object="${kommentar}" method="post" th:action="@{/beitraege}">
                <input type="hidden" th:name="beitragId" th:value="${beitrag.getId()}">
                <textarea rows="3" cols="40" minlength="3" required
                          th:placeholder="${'Kommentiere diesen Beitrag, ' + sessionNutzer.name}"
                          th:field="*{text}"></textarea>
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                <button type="submit">Kommentieren</button>
            </form>
        </div>
    </section>
</section>
</div>
<section>
    <div class="container">
        <a th:href="@{/}">
            <button>Startseite</button>
        </a>
    </div>
</section>
</body>
</html>