<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Home</title>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog von Fabian und Franz
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1 th:text="${'Willkommen, Unbekannter'}" th:if="${sessionNutzer == null}"></h1>
        <h1 th:text="${'Willkommen, ' + sessionNutzer.name}" th:if="${sessionNutzer != null}"></h1>
        <a th:href="@{/beitraege}">
            <button>Hier geht's zu den Beiträgen</button>
        </a>
        <div th:if="${sessionNutzer != null}">
            <div th:if="${sessionNutzer.admin}">
                <a th:href="@{/nutzeruebersicht}">
                    <button>Nutzerübersicht</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <a th:href="@{/registrate}" th:if="${sessionNutzer == null}">
            <button>Registrierung</button>
        </a>
        <a th:href="@{/login}" th:if="${sessionNutzer == null}">
            <button>Login</button>
        </a>
        <form th:if="${sessionNutzer != null}" method="post" th:action="@{/logout}">
            <button type="submit">Logout</button>
        </form>
    </div>
</section>
</body>
</html>