<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Login</title>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog von Fabian und Franz
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1 class="subtitle">Login</h1>
        <form th:action="@{/login}" th:object="${login}" method="post">
            Username: <input type="text" th:field="*{username}"><br/>
            Passwort: <input type="password" th:field="*{passwort}"><br/>
            <p th:if="${#fields.hasErrors('passwort')}" th:errors="*{passwort}"></p>
            <button type="submit">Login</button>
        </form>
    </div>
</section>
<section>
    <div class="container">
        <a th:href="@{/}">
            <button>Startseite</button>
        </a>
    </div>
</section>
</body>
</html>