<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Nutzer</title>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog von Fabian und Franz
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <table>
            <tr th:each="benutzer: ${nutzers}">
                <td strong th:text="${benutzer.getName()}"></td>
                <td>
                    <form th:if="${!benutzer.admin}" th:object="${benutzer}" method="post"
                          th:action="@{/zumAdminMachen/{nutzerId}(nutzerId=${benutzer.id})}">
                        <button type="submit">Zum Admin machen</button>
                    </form>
                    <div th:if="${benutzer.admin}">(Admin)</div>
                </td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div class="container">
        <a th:href="@{/}">
            <button>Startseite</button>
        </a>
    </div>
</section>
</body>
</html>